<div class="grid"
     [ngStyle]="{'height': height}">
    <div [ngClass]="{'grid_sticky': isSticky}"
         class="grid__header grid__row">
        <header-column *ngFor="let headerColumn of headerColumns"
                       [column]="headerColumn"></header-column>
    </div>
    <ng-container *ngIf="dataSource$ | async as dataSource;else loading">
        <ng-container *ngIf="dataSource?.length;else emptyState">
            <row *ngFor="let row of dataSource">
                <ng-container *ngFor="let headerColumn of headerColumns">
                    <column>{{row[headerColumn.propName]}}</column>
                </ng-container>
            </row>
        </ng-container>
    </ng-container>

    <ng-template #loading>
        <div class="grid__loading">
            <fa-icon [icon]="loadingIcon"></fa-icon>
        </div>
    </ng-template>

    <ng-template #emptyState>
        <div class="grid__empty-state">Empty state</div>
    </ng-template>
</div>