$grid: grid;

:host {
    width: 100%;
}

.#{$grid} {
    display: grid;

    &__header {
        border-bottom: 2px solid #000 !important;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, auto));
    border-bottom: 1px solid #000;
    transition: background-color .3s;

    &:not(.#{$grid}__header) {
        &:hover {
            background-color: rgba(217, 213, 213, 0.445);
        }
    }
}

.column {
    padding: 30px 40px;

    // &:not(:last-child) {
    //     border-right: 1px solid #000;
    // }
}