<div class="grid">
    <div class="grid__header row">
        <div class="column">column 1 <fa-icon [icon]="sortIcon"></fa-icon></div>
        <div class="column">column 2 <fa-icon [icon]="sortIcon"></fa-icon></div>
        <div class="column">column 3 <fa-icon [icon]="sortIcon"></fa-icon></div>
        <div class="column">column 4 <fa-icon [icon]="sortIcon"></fa-icon></div>
        <div class="column">column 5 <fa-icon [icon]="sortIcon"></fa-icon></div>
    </div>
    <div class="row">
        <div class="column">text 1</div>
        <div class="column">text 2</div>
        <div class="column">text 3</div>
        <div class="column">text 4</div>
        <div class="column">text 5</div>
    </div>
    <div class="row">
        <div class="column">text 1</div>
        <div class="column">text 2</div>
        <div class="column">text 3</div>
        <div class="column">text 4</div>
        <div class="column">text 5</div>
    </div>
    <div class="row">
        <div class="column">text 1</div>
        <div class="column">text 2</div>
        <div class="column">text 3</div>
        <div class="column">text 4</div>
        <div class="column">text 5</div>
    </div>
    <div class="row">
        <div class="column">text 1</div>
        <div class="column">text 2</div>
        <div class="column">text 3</div>
        <div class="column">text 4</div>
        <div class="column">text 5</div>
    </div>
    <div class="row">
        <div class="column">text 1</div>
        <div class="column">text 2</div>
        <div class="column">text 3</div>
        <div class="column">text 4</div>
        <div class="column">text 5</div>
    </div>
</div>
